# ignore service account json
otto*.json

# ignore most of data folder for now
/data/*
!/data/mappings.csv
!/data/box_stats_revised.csv
!/data/mappings_update_2023-09-14.csv
!/data/rookies.csv

# ignore the images in the analysis file
/analysis/images/*

# ignore env file
.env

# ignore DS Store
.DS_Store
*/.DS_Store

# ignore webdrivers
*driver*
