[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
black = "*"
streamlit = "*"
numpy = "1.21.5"
ipython = "7.31.0"
requests = "*"
beautifulsoup4 = "4.10.0"
isort = "*"

[dev-packages]

[requires]
python_version = "3.9.1"

[pipenv]
allow_prereleases = true
