[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
streamlit = "*"
numpy = "1.26.2"
requests = "2.32.5"
beautifulsoup4 = "4.10.0"
selenium = "*"
gspread = "*"
webdriver-manager = "*"
altair = "4.0"
mypy = "*"
nba-api = "*"
# chompjs = "*"
# protobuf = "3.19.0"
types-beautifulsoup4 = "*"
polars = "*"
great-tables = "*"
cairosvg = "*"
scikit-learn = "1.5.2"
pyarrow = "14.0.0"
lets-plot = "*"
pytest = "*"
pulp = "*"

[dev-packages]
black = "*"
isort = "*"
notebook = "*"

[requires]
python_version = "3.11.1"

[pipenv]
allow_prereleases = true
