[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
black = "*"
streamlit = "*"
numpy = "1.21.5"

[dev-packages]

[requires]
python_version = "3.9.1"

[pipenv]
allow_prereleases = true
