altair==4.0.0
beautifulsoup4==4.10.0
black==24.10.0
CairoSVG==2.8.2
great-tables==0.20.0
gspread==6.2.1
ipython==8.18.1
isort==6.0.0b2
jupyterlab==4.0.0a32
lets-plot==4.8.2
mypy==1.19.1
nba_api==1.10.2
numpy==1.26.2
pandas==2.3.3
polars==1.36.1
PuLP==3.3.0
pyarrow==14.0.0
pytest==8.4.2
requests==2.32.5
ruff==0.7.1
scikit-learn==1.5.2
scipy==1.13.1
selenium==4.36.0
streamlit==1.50.0
tqdm==4.66.6
webdriver-manager==4.0.2
